.edituser-container{
    width: 100%;
    height: 100vh;
    background-color: rgba(24, 119, 208, 0.219);
    /* opacity: 70%; */
}
.edituser-info{
    width: 100%;
    height: 100%;
    margin-top: 120px;
    padding: 20px;
    background: linear-gradient(15deg, rgba(48,79,254,1) 2%, rgba(72,99,246,1) 56%, rgba(91,116,239,1) 95%);
    border-radius: 8px;
}
.edituser-info .icon-close{
    width: 50px;
    height: 50px;
    fill: rgb(255, 255, 255);
}
.edituser-info .icon-close:hover{
    cursor: pointer;
    scale: 1.2;
}
.edituser-info .profile-icon{
    width: 85px;
    height: 85px;
    fill: rgb(255, 255, 255);
}
 .modal-dialog, .modal-content{
    min-width: 60%;
    background-color: rgba(24, 118, 208, 0)!important;
    border: none!important;
    /* opacity: 0.2; */
}
.edituser-info .btn-close{
    width: 45px !important;
    height: 45px !important;
    opacity: 0 !important;
    position: absolute;
    padding: 0 !important;
}
.edituser-info .label{
    background-color: rgba(240, 248, 255, 0);
    font-size: 12px;
    color: #1a2ea1;
}
.edituser-input{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 12px;
}
.edituser-input::placeholder{
    color: white;
    opacity: 0.6;
}
.update-user-btn{
    width: 100px;
    height: 40px;
    border-radius: 50px;
    font-weight: lighter;
    font-size: 14px;
    background: white;
    border: none;
    color: white;
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.56);
}
.update-user-btn:hover{
    scale: 1.05;
}