*{
    background-color: #2c2c2c;
}
.login-container{
    width: 200px;
    padding-top: 80px;
    /* background-color: #2c2c2c; */
}
.login-text{
    font-size: 12px;
    color: rgb(104, 104, 104);
    font-weight: 300;
}
.app-icon{
    display: inline-block;
    background-size: cover;
    width: 70px;
    height: 70px;
    background-image: url(../Assets/img/domo-house.svg);
}
.login-input{
    border-radius: 10px;
    border: 1px solid #8f8f8f;
    height: 35px;
    color: white;
    font-weight: 300;
    font-size: 12px;
}
.login-input:focus{
    outline-color: rgb(129, 129, 129);   
}
.login-btn{
    width: 140px;
    height: 40px;
    border-radius: 50%;
    font-weight: lighter;
    font-size: 14px;
    background: linear-gradient(15deg, rgba(48,79,254,1) 17%, rgba(39,65,214,1) 44%, rgba(26,46,161,1) 91%);
    border: none;
    color: white;
}
.login-btn:hover{
    background: white;
    color: rgba(39,65,214,1);
    font-weight: 400;
    scale: 1.04;
}
.error-text{
    font-size: 11px;
    font-weight: lighter;
}